<section class='recipes'>
  <%= button_to "Sign In", new_user_session_path, :class => 'btn' %>
  <%= button_to "Logout", destroy_user_session_path, :class => 'btn', method: :delete  %>
  <h1>Recipes</h1>
</section>
